<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2200_RuelasB_Assignment04.Properties.Settings.INFO2200_CrandallSayConnectionString"
            connectionString="Data Source=YOUR_SERVER;Initial Catalog=INFO2200_CrandallSay;Persist Security Info=True;User ID=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>